@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0 !important;
  border-radius: 5px !important;
  transition: 0.1s all;
}

.card-bordered.card:hover {
  box-shadow: rgba(255, 180, 5, 0.05) 0px 6px 24px 0px, rgba(255, 166, 0, 0.08) 0px 0px 0px 1px;
}

.nk-wrap {
  background: linear-gradient(-160deg, rgb(255, 255, 255) 0%, rgb(244, 244, 244) 100%);
  min-height: 500vh;
}

.nk-footer {
  border-top: none !important;
}

.nk-block-head-sub .back-to .icon {
  font-size: inherit !important;
  width: inherit !important;
}

.responses {
  height: 65vh;
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: clip;
}

.card-successfull {
  border: 2px solid #0dbf0d !important;
  border-radius: 5px;
}

.cardoutput {
  margin-top: 1em !important;
}

.cardoutput .MuiCard-root {
  background: #fff !important;
  box-shadow: none !important;
  border: 1px solid #e8e8e8 !important;
}

.cardoutput:last-child {
  margin-bottom: 0;
  background: transparent !important;
  box-shadow: none !important;
}

.apiresponses {
  height: 65vh;
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: clip;
  margin-bottom: 0 !important;
  padding: 3em;
  border-radius: 4px;
  background: #272822 !important;
  border: 2.5px solid orange;
}

.apiresponsesdiv .card-inner {
  padding: 0 !important;
}

.apicardoutput {
  overflow: scroll;
}

.controlbar {
  background: #f2f1f1;
  display: flex;
  border-radius: 15px;
  justify-content: flex-end;
  border: 2px solid #e5e5e56b;
}

.nk-menu li a {
  vertical-align: middle;
  display: flex;
  position: relative;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
  color: #fff;
}

.nk-menu-link:hover,
.active > .nk-menu-link {
  color: #fff;
}

.nk-menu-link {
  padding: 0.55rem 31px 0.555rem 15px;
  font-family: inherit;
  font-size: 13px;
  text-transform: none;
  line-height: 1.25rem;
  letter-spacing: 0.06em;
}

.nk-menu-icon .icon {
  font-size: 24px;
  letter-spacing: normal;
  vertical-align: middle;
  color: #f0f8ff82;
  transition: color 0.4s, background-color 0.4s;
}

.nk-menu-icon .icon {
  font-size: 24px;
  letter-spacing: normal;
  vertical-align: middle;
  color: #f0f8ff82;
  transition: color 0.4s, background-color 0.4s;
}

.nk-sidebar .nk-menu > li > a {
  color: #ffffff88;
  font-size: 14px !important;
}

.nk-sidebar .nk-menu > li > a:active {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.nk-sidebar .nk-menu > li > a .icon {
  color: #e1eeff4f;
  font-size: 23px !important;
}

.nk-sidebar .nk-menu .active > li > a .icon {
  color: #fff !important;
}
.nk-menu-link.active {
  color: white !important;
  font-weight: bold !important;
}
.nk-menu-link.active .icon {
  color: white !important;
}

.nk-sidebar .nk-menu > li > a:hover .icon {
  color: #fff !important;
  font-size: 23px !important;
}

.nk-sidebar .nk-menu > li > a:hover {
  background: #e1eeff0d !important;
  color: #fff !important ;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nk-menu-link:hover,
.active > .nk-menu-link {
  color: #fff !important;
  background: #e1eeff0d !important;
  font-size: 23px !important;
}

.active > .icon {
  color: #fff !important;
}

.overline-title.text-primary-alt {
  color: #f1740099 !important;
}

.nk-header.nk-header-fixed.is-light {
  background: #f7f5f5 !important;
}

.nk-block-head-sub .back-to {
  display: flex !important;
  margin-right: 1em !important;
  color: gray !important;
  margin-bottom: 0 !important;
  border: 1px solid #7c7c7c;
  padding: 0.5em 0.4em 0.4em;
  border-radius: 1000px;
}

.nk-block-head-sub .back-to span {
  display: none !important;
}

.nk-sidebar-head {
  border-bottom: 1px solid #e5e9f233 !important;
}

.nk-menu-heading::before {
  background-color: #3c3c3d !important;
}

.nk-sidebar-element.nk-sidebar-head {
  padding-left: 7px !important;
}

.logo-darkE.logo-img {
  opacity: 1 !important;
}

.growthopportunities,
.marketfeedback {
  padding: 0 !important;
}

.growthopportunities .nk-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.growthopportunities .card-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.growthopportunities .go-success .icon::before {
  color: green !important;
}

.growthopportunities .go-warning .icon::before {
  color: orange !important;
}

.growthopportunities .wide-lg {
  padding: 0 !important;
}

.marketfeedback .last,
.first {
  max-width: 100px !important;
  text-align: center;
  padding-right: 0 !important;
}

.marketfeedback .lastdone .firstdone {
  max-width: 100px !important;
}

.marketfeedback .steps.clearfix {
  padding-top: 1em;
  background-color: #efefef;
  margin: 0;
}

.marketfeedback .content.clearfix {
  background: white;
  margin: 0 !important;
  padding: 1.5em;
}

.marketfeedback .steps.clearfix ul {
  display: flex !important;
  justify-content: center;
  align-content: center;
}

.marketfeedback .content.clearfix {
  margin-top: 1em;
  max-width: 400px;
}

.marketfeedback .card {
  background: transparent !important;
}

.marketfeedback .card-inner {
  padding: 0 !important;
}

.marketfeedback .actions.clearfix {
  display: flex;
  flex-direction: row-reverse;
}

.nk-block-tools-toggle .btn.btn-primary {
  border-radius: 100px !important;
  margin-right: 1em;
  border-color: transparent !important;
  font-weight: 500 !important;
}

.optimizers .card-bordered {
  border: 3.5px solid #b6b6b6a6 !important;
}

.optimizers .card-bordered:hover {
  border: 3.5px solid #ff7b06a6 !important;
}

.optimizers .btn-trigger::before {
  background: #ff7b06a6;
}

.product-image {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid #8080802e;
  padding: 0.5em;
  border-radius: 5px;
}

.card-selected {
  box-shadow: rgba(255, 95, 15, 0.14) 0px 6px 24px 0px, rgb(255, 121, 22) 0px 0px 0px 1px !important;
}

.disabledcard a {
  opacity: 0.5;
  pointer-events: none !important;
}

.loginwithamazon img:hover {
  filter: hue-rotate(-20deg) !important;
}

.loginwithamazon img {
  filter: hue-rotate(0deg) !important;
}

.logoutfromamazon img {
  filter: grayscale(100%);
}

.logoutfromamazon:hover img {
  filter: hue-rotate(180deg);
}

.img-optimizers .card {
  border: none !important;
  background-color: transparent !important;
}

.img-optimizers .gradient-white {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 3%,
    rgba(255, 255, 255, 0.55) 97%,
    rgba(255, 255, 255, 0) 100%
  );
}

.img-optimizers .card-bordered.gallery.card {
  border: 2px solid #6b6b6b !important;
}

.img-optimizers .card-bordered.gallery.card:hover {
  border: 2px solid #f56000 !important;
  cursor: pointer;
}

.img-optimizers .card-inner {
  padding: 1em !important;
}

.img-optimizers .img-filter label {
  min-width: 250px !important;
}

#url_path {
  background: #272822;
  color: #38f6ff;
  border: 2px solid #38f6ff;
}
