/* @import url('https://fonts.googleapis.com/css2?family=Proxima+Nova&display=swap'); */

.basic-details-form-headline {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.17px;
}

.basic-details-form {
    padding-top: 53px;
    max-width: 25rem;
    padding-left: 40px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
}

.basic-details-hatimbig {
    width: 30.313rem;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    height: 1.063rem;
    font-family: "Proxima Nova" !important;
    text-align: left;
    padding: 0;
}

.basic-detsils-hatimbig-parent {
    max-width: 100%;
    z-index: 1;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3.5rem;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-username {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-username.error {
    border-bottom: 1px solid red;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-fname {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-fname.error {
    border-bottom: 1px solid red;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-lname {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-lname.error {
    border-bottom: 1px solid red;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-email {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-email.error {
    border-bottom: 1px solid red;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-mnumber {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.basic-details-form .basic-detsils-hatimbig-parent .basic-detsils-frame-mnumber.error {
    border-bottom: 1px solid red;
}

.basic-details-register-btn button {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    background-color: #014DC0;
    font-weight: 500 !important;
    color: white;
    font-size: 14px;
    margin-bottom: 27px;
    border: none;
    margin-top: 3.6rem;
    line-height: 16.92px;
    font-family: "Proxima Nova" !important;
}

.basicRegister-height {
    padding: 0px;
}

.register-rightside {
    background: #FFFFFF;
}

.basic-details-register-btn button.disabled {
    background-color: #014DC0;
    cursor: not-allowed;
    opacity: 0.6;
}

@media screen and (max-width: 760px) {
    .basic-details-form {
        padding-top: 20px !important;
        padding-left: 0 !important;
    }
}

.error {
    border-color: red;
    /* or your desired color */
}

.text-danger {
    color: red;
    /* error message color */
}