/*Delivery-Report Start*/

.delivery-report-fullcontent {
    background: #F2F6FA;
    padding-bottom: 2%;
}

.delivery-report-form {
    font-family: 'Proxima Nova';
    background-color: white;
    padding: 3% 3% 6%;
    border-radius: 10px;
    box-shadow: 0px 15px 25px 5px #00000008;
}

.deliver-reoprt-content h2 {
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.17px;
    text-align: left;
    margin-bottom: 2rem;
}

.dellivery-report-content h6 {
    font-family: 'Proxima Nova';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    text-align: left;
    color: #5A5A5A;
}

.dellivery-report-content h4 {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    line-height: 17.05px;
    text-align: left;
}

.delivery-report-input {
    margin-top: -1.7%;
    text-align: right;
    position: relative;
}

.border-bottom-only {
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

.no-focus-border:focus {
    outline: none;
    border-bottom: 1px solid #D9D9D9;
}

.delivery-report-input img {
    position: absolute;
    top: 1rem;
}

.delivery-report-input input {
    width: 100%;
    height: 55px;
    padding-left: 40px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.head-bill {
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    line-height: 35 .34px;
    text-align: left;
}

.delivery-report-table th {
    font-family: 'Proxima Nova';
    font-size: 12px;
    padding: 1.5% 1% 2%;
    font-weight: 700;
    line-height: 14.62px;
    color: #5A5A5A;
}

.delivery-report-table-logo tr td.delivery-repo-nodata {
    font-size: 20px;
    font-weight: 600;
}

.nodata-found-txt {
    font-size: 20px;
    font-weight: 600;
}

.delivery-report-table-logo td img.billboard-logo {
    width: 89px;
    height: 53px;
    margin: 0;
    border-radius: 5px;
}

.delivery-report-table-logo td {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.delivery-report-table-logo .bill-name {
    font-weight: 600;
}

.delivery-view a {
    color: #014DC0;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.delivery-view img {
    margin-left: -8px;
    margin-right: 5px;
}

.delivery-report-table td {
    border-style: none;
}

.delivery-report-table thead {
    border-top: 0.5px solid #D9D9D9;
    border-bottom: 0.5px solid #D9D9D9;
}

.delivery-report-table-logo .delivery-view {
    color: #014DC0;
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.pagenation-align {
    float: right;
}

.pagenation-align li a {
    border: none;
}

.pagenation-align li a i {
    color: #5A5A5A;
}

.page-number {
    background-color: #014DC0;
    color: white;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.75px;
    text-align: left;
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.page-chevron-left i {
    margin-right: 14px;
    font-size: 20px;
}

.page-chevron-right i {
    margin-left: 14px;
    font-size: 20px;
}

.scrollbar {
    height: 327px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 1200px;
}

#style::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}

#style::-webkit-scrollbar {
    width: 5px;
    background-color: #E5E5E5;
}

#style::-webkit-scrollbar-thumb {
    background-color: #014DC0;
    border-radius: 10px;
}

.loader {
    width: 150px;
    height: 150px;
    border-left: 5px solid #38ff8e;
    border-radius: 50%;
    animation: right5231 0.3s linear infinite;
}

.loader::before,
.loader::after {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border-right: 5px solid #ffbe0b;
    border-radius: 50%;
    animation: left036 0.9s linear infinite;
}

.loader::after {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 0;
    border-top: 5px solid #ff086e;
    animation: none;
}

@keyframes right5231 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes left036 {
    from {
        transform: rotate(720deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #E5E5E5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #014DC0;
    border-radius: 10px;
}

.delivery-rest i {
    margin-top: 25px;
    margin-left: -15px;
    position: absolute;
}


/*Delivery-Report End*/