.custom-select-container {
    position: relative;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; 
    border-radius: 4px; 
    background-color: #fff;
    border: 1px solid #ced4da; 
    font-size: 1rem;
    height: 38px; 
}

.custom-select::-ms-expand {
    display: none; 
}

.custom-chevron {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    pointer-events: none; 
}

.custom-select option {
    color: #000; 
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
