footer {
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff !important;
  padding: 0 35px;
  font-size: 12px;
  color: #6B7280;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer .left{
  text-align: left;
}
footer .right{
  text-align: right;
}
footer ul{
  list-style: none;
}
footer ul li{
  display: inline-block;
  padding-left: 40px;
}