/*Delivery-Report Start*/

.contenthub-full-content {
    background: #F2F6FA;
    padding-bottom: 2%;
}

.content-hub-form {
    font-family: 'Proxima Nova';
    background-color: white;
    padding: 1% 2% 6%;
    border-radius: 10px;
    box-shadow: 0px 15px 25px 5px #00000008;
}

.contenthub-head h5 {
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
    text-align: left;
}

.contenthub-search {
    margin-bottom: 3rem;
    position: relative;
}

.contenthub-search img {
    position: absolute;
    top: 1rem;
}

.contenthub-search input {
    border-bottom: 1px solid #D9D9D9;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 8%;
    width: 367px;
    height: 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #5A5A5A;
}

.contenthub-buttons {
    text-align: right;
}

.contenthub-buttons .content-upload {
    width: 145px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #014DC0;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    color: #FFFFFF;
    margin-right: 20px;
}

.contenthub-buttons .content-filter {
    background: transparent;
    border: none;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    margin-right: 10px;
}

.contenthub-buttons svg {
    width: 14.8px;
    height: 16.88px;
    top: 0.06px;
    left: 1.6px;
    gap: 0px;
    opacity: 1;
}

.contenthub-second-head h5 {
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.contenthub-deleteall {
    text-align: right;
    color: #FF0000;
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 500;
}

.contenthub-deleteall p {
    cursor: pointer;
}

.content-hub-tbody td img.content-logo {
    width: 89px;
    height: 53px;
    margin: 0;
    border-radius: 5px;
}

.content-hub-thead th {
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 700;
    padding: 13px 8px;
    line-height: 14.62px;
    text-align: left;
    color: #5A5A5A;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    background: #F8F8F8;
}

.content-hub-thead img {
    margin-left: 5px;
}

.videocam img {
    margin-right: 5px;
}

.contenthub-creatives-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    transition: max-width 0.3s ease;
}

.contenthub-creatives-name:hover {
    max-width: none;
    white-space: normal;
    padding: 2px;
}

.content-hub-tbody .contenthub-creatives-name {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.05px;
    margin-left: 30px;
    text-align: left;
}

.content-hub-tbody td {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

.content-hub-tbody i {
    color: #014DC0;
}

input[type="checkbox"] {
    accent-color: #014DC0;
    width: 16px;
    height: 16px;
    top: 379px;
    left: 187px;
    gap: 0px;
    border-radius: 2px;
    opacity: 1;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.content-hub-tbody svg {
    margin-right: 5px;
}

.delete-cell {
    position: relative;
}

.delete-text {
    display: none;
    color: red;
    cursor: pointer;
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.delete-bin {
    font-size: 40px;
    text-align: center;
    color: #000;
}

.delete-text i {
    color: #FF0000;
    font-size: 12px;
    font-weight: 400;
    margin-left: 25px;
}

.delete-cell:hover .delete-text {
    display: block;
    position: absolute;
    top: 10px;
    left: -45px;
}

.contenthub-fliter-close {
    background: transparent;
    border: none;
    text-align: right;
    margin-left: 30rem;
    color: #5A5A5A;
}

.contenthub-filter-header {
    background: #F2F6FA;
    border-radius: 15px 15px 0px 0px;
    width: 600px;
}

.contenthub-filter-header h1 {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.34px;
    text-align: left;
    color: #5A5A5A;
}


/* .contenthub-body {
    height: 50px;
} */

.content-hub-filter-popup {
    width: 620px;
    /* height: 480.49px; */
    gap: 0px;
    border-radius: 15px;
}

.contenthub-filter-right {
    line-height: 3rem;
    margin-top: -15px;
    padding-bottom: 5.9rem;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    color: #5A5A5A;
    border-left: 0.5px solid #D9D9D9;
}

.contenthub-filter-left {
    padding: 0;
    margin-top: -8px;
}

.contenthub-filter-left h5 {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    padding: 10px 0px 7px 10px;
    /* margin-left: -15px; */
    margin-top: -8px;
    border-bottom: 0.5px solid #D9D9D9;
}

.contenthub-filter-left button {
    background: transparent;
    border: none;
    color: #5A5A5A;
}

.contenthub-filter-left h5:hover {
    background-color: #F2F6FA;
    color: #014DC0 !important;
    font-family: Proxima Nova;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
}

.contenthub-popup-footer .contenthub-filter-resetbtn {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #014DC0;
    margin-right: 20px;
    color: #014DC0;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 600;
}

.contenthub-popup-footer .contenthub-filter-applybtn {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    /* border: 1px solid #014DC0; */
    background: #014DC0;
    color: white;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 600;
}

.contenthub-upload-popup-footer .contenthub-filter-uploadbtn {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    /* border: 1px solid #014DC0; */
    background: #014DC0;
    color: white;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 600;
}

.contenthub-upload-popup-footer span {
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    text-align: left;
}

.contenthub-upload-filter-header h1 {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.34px;
    text-align: left;
    color: #5A5A5A;
}

.contenthub-upload-popup-footer i {
    padding: 3px 9px;
    border: 1px solid gray;
    color: #014DC0;
    border-radius: 100%;
}

.contenthub-upload-filter-popup {
    width: 620px;
    gap: 0px;
    border-radius: 15px;
}

.contenthub-upload-filter-header {
    width: 619px;
    height: 68px;
    gap: 0px;
    border-radius: 15px 15px 0px 0px;
    border: none;
    background: #F2F6FA;
}

.contenthub-upload-file {
    text-align: center;
    border: 1.5px dashed #014DC0;
    padding: 80px;
    border-radius: 10px;
    /* margin-left: 6px; */
}

.contenthub-upload-body {
    padding: 30px 40px;
}

.contenthub-upload-file i {
    font-size: 53.3px;
}

.contenthub-upload-file h2 {
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.75px;
}

.contenthub-upload-file h3 {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    color: #014DC0;
}

.contenthub-image-upload {
    padding: 0 6.5%;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.05px;
    text-align: left;
}

.contenthub-upload-popup-footer {
    border: none;
    margin-right: 20px;
}

.c-box {
    margin-top: -2px;
    margin-left: 7px;
    position: absolute;
}

.c-radio {
    margin-top: -3px;
    margin-left: 7px;
    position: absolute;
}

.mime-type {
    accent-color: #014DC0;
    width: 16px;
    height: 16px;
    gap: 0px;
    opacity: 1;
}

.contenthub-scrollbar {
    height: 760px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 1200px;
}

.contenthub-scrollbar::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}

.contenthub-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #E5E5E5;
}

.contenthub-scrollbar::-webkit-scrollbar-thumb {
    background-color: #014DC0;
    border-radius: 10px;
}

.content-hub-tbody tr td.contenthub-creatives-nodata {
    font-size: 20px;
    font-weight: 600;
}


/* loader */

.loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 8px solid #fff;
    border-left: 8px solid #fff;
    border-right: 8px solid #ff00;
    animation: loader .7s infinite linear;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 150px;
    height: 150px;
    border-left: 5px solid #38ff8e;
    border-radius: 50%;
    animation: right5231 0.9s linear infinite;
}

.loader::before,
.loader::after {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border-right: 5px solid #ffbe0b;
    border-radius: 50%;
    animation: left036 0.9s linear infinite;
}

.loader::after {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 0;
    border-top: 5px solid #ff086e;
    animation: none;
}

@keyframes right5231 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes left036 {
    from {
        transform: rotate(720deg);
    }
    to {
        transform: rotate(0deg);
    }
}