.sign_up_button {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 13px 41px;
    font-family: "Josefin Sans",  !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }

  .forgot-pass-text {
    color: #000000;
    font-family: 'Josefin Sans' ;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  .loginTitle {
    font-family: "Josefin Sans",  !important;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
  }
  .error {
    color: #E74216;
    font-family: "Josefin Sans", ;
    font-style: normal;
    font-size: 14px;
    padding: 6px 4px;
  }
  .loginBtn {
    background: #383737;
    font-family: "Josefin Sans", ;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: 0px solid;
  }
  .loginContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  .formContainer {
    border-radius: 10px;
    z-index: 10px;
    border: 1px solid #888888;
    box-shadow: 5px 10px #888888;
  }
  .appTitle{
 
    text-align: center;
  }