.bg{
    background: #f2f8f9;
    padding: 1.5rem 1.7rem;
    width: 100%;
}
.assignRoleFormbg{
    background-color: #fff;
    padding: 20px;
}
.assignRoleBtn{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    margin-top: auto;
}