.assignSubmitBtn{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    margin-top: auto;
}
.bg{
    background: #f2f8f9;
    padding: 1.5rem 1.7rem;
    width: 100%;
}
.Formbg{
    background-color: #fff;
    padding: 20px;
}
.classRadioDiv input {
    padding: 4px;
}.checkBoxLabel{
    margin-top: 3px;
    margin-right: 5px;
}