.editcampaign-head h5 {
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
    text-align: left;
}

.editcampaign-search input {
    border-bottom: 1px solid #D9D9D9;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1%;
    width: 100%;
    height: 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #5A5A5A;
}

.editcampaign-search img {
    position: absolute;
    top: 16.3rem;
}

.editcampaign-search i {
    position: absolute;
    margin-top: 17px;
    margin-left: -20px;
}

.editcampaign-search,
.editcampaign-duration h4 {
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.49px;
    text-align: left;
    color: #5A5A5A;
    margin-left: -2px;
}

.editcampaign-duration-lf input,
.editcampaign-duration-rt input {
    width: 152px;
    height: 55px;
    border-bottom: 1px solid #D9D9D9;
    border-top: none;
    border-left: none;
    border-right: none;
}

.editcampaign-billboard {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: center;
    background: #014DC0;
    width: 143px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
}

.editcampaign-cart {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: center;
    background: #014DC0;
    width: 87px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 14px;
    margin-top: 10px;
}

.editcampaign-content-lft h4 {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.34px;
    text-align: left;
    margin-bottom: 15px;
    color: #5A5A5A;
}

.editcampaign-cnt-note {
    color: red;
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.62px;
    text-align: left;
}

.editcampaign-cnt-note-1 {
    font-family: Proxima Nova;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    text-align: left;
    color: #5A5A5A;
}

.editcampaign-table th {
    font-family: 'Proxima Nova';
    font-size: 12px;
    padding: 1.5% 0% 2%;
    font-weight: 700;
    line-height: 14.62px;
    color: #5A5A5A;
}

.editcampaign-table-logo td {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 20px 5px;
}

.editcampaign-table-logo td img.billboard-logo {
    width: 89px;
    margin: 0;
    border-radius: 5px;
}

.editcampaign-content {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #D9D9D9;
}

.editcampaign-img {
    width: 38%;
}

.editcampaign-img span {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.05px;
    text-align: left;
    margin-left: 10px;
}

.editcampaign-table thead {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.editcampaign-img p {
    background: #10AC011A;
    color: #10AC01;
    position: absolute;
    top: 60px;
    left: 110px;
    padding: 0px 5px;
    border-radius: 4px;
}

.edit-campaign-scroll {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-campaign-scroll::-webkit-scrollbar {
    width: 5px;
}

.edit-campaign-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid #014DC0;
}

.pedit-campaign-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.edit_campaign_header_notification {
    background: #014DC0;
    color: #FFFFFF;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.5px;
    border-radius: 15px;
}

.edit_campaign_footer_btn_1 {
    border: 1px solid #014DC0;
    border-radius: 5px;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    line-height: 16.92px;
    text-align: left;
    color: #014DC0;
    padding: 10px;
    margin-top: 10px;
}

.edit_campaign_footer_btn_2 {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    line-height: 17.05px;
    text-align: left;
    background-color: #014DC0;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    margin-left: 5px;
    margin-top: 10px;
}

.edit_campaign_date_start {
    padding: 5px 15px 15px 15px;
    gap: 15px;
    border: 1px 0px 0px 0px;
    border-bottom: 1px solid #EEEEEE;
}

.edit_campaign_date_end {
    margin-left: 10px;
    padding: 5px 15px 15px 15px;
    gap: 15px;
    border: 1px 0px 0px 0px;
    border-bottom: 1px solid #EEEEEE;
}

.editcampaign-content-rit {
    margin-top: 20px;
}

.editCampaign-list-header {
    border-top: 0.5px solid #D9D9D9;
    padding: 15px;
    border-bottom: 0.5px solid #D9D9D9;
}

.editcampaign-date_section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 17px;
}

.editcampaign-buttons {
    text-align: end;
    margin-top: 17px;
}

.highlighted {
    background-color: #f0f8ff;
    border: 2px solid #007bff;
}

.editcampaign-content-lft .billboard-row {
    margin-left: 0px;
}

.billboard-row {
    margin-bottom: 0px !important;
}

.editcartresolution,
.editcartprice {
    margin-left: 8px;
}

.editcaetImpression {
    margin-left: -25px;
}

.editlistcart:last-child {
    border-bottom: none;
    margin-bottom: 15px! important;
}

.card_list_datas {
    border-bottom: 1px solid #e9ecee;
    padding: 10px;
}

.card_list_datas:hover {
    background-color: #e7eef4;
}

.looks-like {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.23999999463558197px;
    text-align: center !important;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A7A7A7;
    margin-top: 11rem;
}

.no-data-found-containers {
    min-height: 100px;
    text-align: center;
    padding-top: 125px;
    background-image: url("../../assets/images/no-content-Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.monthYearLeftArrow {
    margin-right: 40px;
    background: transparent !important;
    border: none !important;
    color: #014DC0 !important;
    font-size: 21px !important;
    font-weight: bold;
    cursor: pointer;
}

.monthYearRightArrow {
    margin-left: 40px;
    background: transparent !important;
    border: none !important;
    color: #014DC0 !important;
    font-size: 21px !important;
    font-weight: bold;
    cursor: pointer;
}

.montYearValue {
    color: #014DC0;
    font-weight: bold;
    cursor: pointer;
}