<div class="content-wrapper">
    <div class="row page-header">
        <div class="col-md-6">
            <h3>Manage Schools</h3>
        </div>
        <div class="col-md-6 btn-actions">
            <a [routerLink]="['/admin/school/list']">
                <button type="button" class="btn btn-success">
                  <i class="mdi mdi-step-backward"></i>
                  Back
              </button>
            </a>
        </div>
    </div>
    <div class="row page-content">
        <div class="col-lg-12">
            <h4>{{ isEditMode ? 'Edit School' : 'Create School' }}</h4>
        </div>
        <div class="col-xs-12 col-md-12 mt-3 fieldset tab-cont-1 active">
            <form [formGroup]="schoolCreateForm">
                <div class="elements-block">
                    <div class="inner">
                        <div class="row field-block Formbg">
                            <div class="col-lg-12">
                                <h5>School Information</h5>
                            </div>

                            <!-- School Name -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="schoolName">School Name <span style="color:red;">*</span></label>
                                    <input type="text" id="schoolName" class="form-control" formControlName="school_name" required [ngClass]="{
                                        'border-danger':
                                          (submitted ||
                                            schoolCreateForm.controls['school_name'].dirty ||
                                            schoolCreateForm.controls['school_name'].touched) &&
                                          schoolCreateForm.hasError('required', 'school_name')
                                      }" />
                                    <div *ngIf="submitted && schoolCreateForm.controls['school_name'].hasError('required')" class="text-danger" style="font-size: 0.8rem;">
                                        School Name is required.
                                    </div>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="email">Email <span style="color:red;">*</span></label>
                                    <input type="text" id="email" class="form-control" formControlName="email" required [ngClass]="{
                                        'border-danger':
                                          (submitted ||
                                            schoolCreateForm.controls['email'].dirty ||
                                            schoolCreateForm.controls['email'].touched) &&
                                          schoolCreateForm.hasError('required', 'email')
                                      }" />
                                    <div *ngIf="submitted && schoolCreateForm.controls['email'].hasError('required')" class="text-danger" style="font-size: 0.8rem;">
                                        Email is required.
                                    </div>
                                </div>
                            </div>

                            <!-- Phone Number -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="phoneNumber">Phone Number <span style="color:red;">*</span></label>
                                    <input type="text" id="phoneNumber" class="form-control" formControlName="phone" required [ngClass]="{
                                        'border-danger':
                                          (submitted ||
                                            schoolCreateForm.controls['phone'].dirty ||
                                            schoolCreateForm.controls['phone'].touched) &&
                                          schoolCreateForm.hasError('required', 'phone')
                                      }" />
                                    <div *ngIf="submitted && schoolCreateForm.controls['phone'].hasError('required')" class="text-danger" style="font-size: 0.8rem;">
                                        Phone Number is required.
                                    </div>
                                </div>
                            </div>

                            <!-- Address -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="address">Address <span style="color:red;">*</span></label>
                                    <input type="text" id="address" class="form-control" formControlName="address" required [ngClass]="{
                                        'border-danger':
                                          (submitted ||
                                            schoolCreateForm.controls['address'].dirty ||
                                            schoolCreateForm.controls['address'].touched) &&
                                          schoolCreateForm.hasError('required', 'address')
                                      }" />
                                    <div *ngIf="submitted && schoolCreateForm.controls['address'].hasError('required')" class="text-danger" style="font-size: 0.8rem;">
                                        Address is required.
                                    </div>
                                </div>
                            </div>

                            <!-- Upload Logo -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="uploadLogo">Upload Logo</label>
                                    <input type="file" id="uploadLogo" class="form-control" (change)="selectFile($event)" />
                                </div>
                            </div>

                            <!-- Admin Login User Details -->
                            <div class="col-lg-12">
                                <h5>Admin Login User Details</h5>
                            </div>

                            <!-- User Name -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="user_name">Name</label>
                                    <input type="text" id="user_name" class="form-control" formControlName="user_name" />
                                </div>
                            </div>

                            <!-- User Email -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="user_email">Email</label>
                                    <input type="text" id="user_email" class="form-control" formControlName="user_email" />

                                </div>
                            </div>

                            <!-- Password (conditionally shown) -->
                            <div class="col-lg-6" *ngIf="!isEditMode">
                                <div class="form-group">
                                    <label class="form-control-label" for="password">Password</label>
                                    <div class="input-group">
                                        <input [type]="passwordFieldType" id="password" class="form-control" formControlName="password" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility('password')">
                                              <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Confirm Password (conditionally shown) -->
                            <div class="col-lg-6" *ngIf="!isEditMode">
                                <div class="form-group">
                                    <label class="form-control-label" for="confirm_password">Confirm Password</label>
                                    <div class="input-group">
                                        <input [type]="confirmPasswordFieldType" id="confirm_password" class="form-control" formControlName="confirm_password" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility('confirm_password')">
                                              <i [ngClass]="confirmPasswordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- User Phone -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="user_phone">Phone Number</label>
                                    <input type="text" id="user_phone" class="form-control" formControlName="user_phone" />
                                </div>
                            </div>

                            <!-- User Address -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="user_address">Address</label>
                                    <input type="text" id="user_address" class="form-control" formControlName="user_address" />
                                </div>
                            </div>
                            <!-- Upload User Logo -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="uploadUserLogo">Upload Logo</label>
                                    <input type="file" id="uploadUserLogo" class="form-control" (change)="selectFile1($event)" />
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-lg-6" style="display: flex; justify-content: flex-end; height: fit-content; margin-top: auto;">
                                <button (click)="schoolFormSubmit()" type="submit" class="btn btn-primary btn-md">{{ isEditMode ? 'Update' : 'Submit' }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>