.resend {
    font-size: 13px;
    text-decoration: underline;
    float: right;
    margin: 5px 0 5px 10px;
    background-color: transparent;
    border: 0;
}

.auth.theme-one .auto-form-wrapper {
    background: #ffffff;
    padding: 40px 40px 20px;
    border-radius: 4px;
    box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
}