.search-filter-container input {
    position: relative;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    outline: none;
    padding: 5px 5px 5px 35px;
    width: 100%;
}
.search_icon{
      align-self: center;
      position: absolute;
      left: 0;
      padding: 8px;
      z-index: 1;
  }

.toggle-switch {
    position: relative;
    width: 47px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(24px);
}

.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    color: white;
    left: 10px;
    right: 10px;
    transition: opacity 0.4s;
}

.label.active {
    left: 8px;
    opacity: 0;
}

.label.inactive {
    right: 8px;
    opacity: 1;
}

input:checked+.slider .active {
    opacity: 1;
    left: 8px;
}

input:checked+.slider .inactive {
    opacity: 0;
    right: 8px;
}

.highlightOption,
.chip {
    background-color: #c26712 !important;
}

.multiSelectContainer li:hover {
    background-color: #c26712 !important;

}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    background-color: #c26712 !important;
    border-color: #c26712 !important;
}

/* .input_search {
    color: black;
    position: absolute;
    top: 5.9rem;
    left: 5.5rem;
} */
.send_invite_btn{
    font-weight: 500;
    font-size: small;
    border: none;
    border-radius: 10px;
    padding: 0px 5px;
    background-color: #4caf50;
}
.sent_btn{
    font-weight: 400;
    font-size: small;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #cccccc;  
}

.linkback{
    color: #000 !important; 
}
.send_invite_btn,.sent_btn{
    padding: 6px 13px;
}
.send_invite_btn i,.sent_btn i{
    font-size: 13px;
}
.fa_solid_fa_trash{
    font-size: 13px;
}
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #cccccc;
    color: #000;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.8s;
    font-size: 0.75rem; 
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



.tooltip-containers {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-containers .tooltip-texts {
    visibility: hidden;
    width: 100px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.8s;
    font-size: 0.75rem; 
}

.tooltip-containers:hover .tooltip-texts {
    visibility: visible;
    opacity: 1;
}




