
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Smaller width */
    height: 30px; /* Smaller height */
    cursor: pointer;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 15px; /* Adjusted for smaller size */
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-switch-handle {
    position: absolute;
    top: 3px; /* Adjusted for smaller size */
    left: 3px; /* Adjusted for smaller size */
    width: 24px; /* Smaller width */
    height: 24px; /* Smaller height */
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-switch::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjusted for smaller size */
    right: -25px; /* Adjusted for smaller size */
    font-size: 10px; /* Smaller font size */
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(30px); /* Adjusted for smaller size */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #05c46b;
    box-shadow: inset 0 0 0 2px #04b360;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch::before {
    content: "On";
    color: #05c46b;
    right: -10px; /* Adjusted for smaller size */
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(28px); /* Adjusted for smaller size */
  }
  .centered-table {
    /* width: 100%; */
    border-collapse: collapse;
  }

  .centered-table td {
    text-align: center;
    vertical-align: middle; /* Vertically center the content */
    /* padding: 8px; Add some padding for better spacing */
  }