<div class="content-wrapper">
    <div class="row page-header">
      <div class="col-md-6">
        <h3>Wards</h3>
      </div>
      <div class="col-md-6 btn-actions">
          <a [routerLink]="['/admin/settings/wards/list']">
            <button type="button" class="btn btn-success">
              <i class="mdi mdi-step-backward"></i>
              Back
            </button></a>
      </div>
    </div>
    <div class="row page-content">
      <div class="col-lg-12"><h4>Create Ward</h4></div>
      <div class="col-xs-12 col-md-12 mt-3 fieldset tab-cont-1 active">
        <form [formGroup]="schoolCreateForm" (ngSubmit)="schoolFormSubmit()">
          <div class="elements-block">
            <div class="inner">
              <div class="row field-block Formbg">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="schoolName"
                      >Name</label
                    >
                    <input
                      type="text"
                      id="schoolName"
                      class="form-control"
                      formControlName="schoolName"
                      required
                    />
  
                    <div
                      *ngIf="
                        submitted &&
                        schoolCreateForm.hasError('required', 'schoolName')
                      "
                      class="text-danger"
                    >
                      Name is required.
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phoneNumber"
                      >Description</label
                    >
                    <textarea
                      id="phoneNumber"
                      class="form-control"
                      formControlName="phoneNumber"
                      required
                    >Enter Description...</textarea>
                    <div
                      *ngIf="
                        submitted &&
                        schoolCreateForm.hasError('required', 'phoneNumber')
                      "
                      class="text-danger"
                    >
                      Phone Number is required.
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-6"
                  style="
                    display: flex;
                    justify-content: flex-end;
                    height: fit-content;
                    margin-top: auto;
                  "
                >
                  <button class="btn btn-primary btn-md" href="#">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  