.explore_property_navbar_container {
    background: #014DC0;
    height: 60px;
    box-shadow: 0px 2px 7px rgb(78, 78, 78);
    border-radius: 10px;
}

.explore_property_navbar_container_content {
    margin-top: -10px;
}

.explore_property_input_group {
    /* width: 50%; */
    margin-right: 20px;
}

.explore_property_input_group .explore_property_search_icon {
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    border-bottom: 1px solid #4D82D3;
    padding-right: 10px;
    /* padding-bottom: 20px; */
    border-radius: 0;
}

.explore_property_input_group .explore_property_border_bottom_only {
    font-family: "Proxima Nova semi-bold";
    font-size: 14px;
    line-height: 17.05px;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #4D82D3;
    border-radius: 0;
    box-shadow: none;
    color: white;
}

.explore_property_navbar_header {
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17.05px;
    text-align: left;
    color: #FFFFFF;
    width: 200px;
}

.explore_property_navbar_header_1 {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #FFFFFF;
    width: 70px;
    margin-left: 16px;
}

.explore_property_date_start {
    padding: 0px 5px 0px 0px;
    gap: 15px;
    border: 1px 0px 0px 0px;
    /* border-bottom: 1px solid #EEEEEE; */
}

.explore_property_date_end {
    margin-left: 10px;
    /* padding: 22px 15px 15px 15px; */
    gap: 15px;
    border: 1px 0px 0px 0px;
    /* border-bottom: 1px solid #EEEEEE; */
}

.date-text-1 p {
    font-size: 16px;
    color: white;
    margin-bottom: -2px;
}

.explore_property_nav {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
    .d-flex span {
        margin: 0 10px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
    .d-flex .form-control {
        width: 100px;
    }
    .d-flex span {
        margin: 0 5px;
        font-size: 20px;
    }
}