.forgot-underline-border {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem
}

.forgot-login-btn button {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    border-color: #014DC0;
    color: white;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #014DC0;
    border: 1.5px solid #014DC0;
    font-family: "Proxima Nova";
}

.forgot-underline-border {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.forgot-underline-border.error {
    border-bottom: 1px solid red;
}

.error {
    border-color: red;
}

.forgot button.disabled {
    background-color: #014DC0;
    cursor: not-allowed;
    opacity: 0.6;
}

@media screen and (max-width: 990px) {
    .forgot-login-btn button {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border-color: #014DC0;
        color: white;
        font-size: 14px;
        margin-bottom: 25px;
        font-weight: 500;
        color: #014DC0;
        border: 1.5px solid #014DC0;
        font-family: "Proxima Nova";
    }
}

.forgot button {
    margin-bottom: 25px;
    border: none;
    align-items: center;
    margin-top: 6.1rem;
}

.a-link-send-message {
    margin-top: 8px;
    font-size: 12px;
    margin-left: 5px;
    color: #5A5A5A;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}