.digital-billboards {
    font-family: " Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 16.92px;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 20px;
    color: #5A5A5A;
}

.billboards {
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.75px;
    text-align: left;
    margin-top: -35px;
}

.table-scroll .table .table-head {
    margin-top: 10px;
    margin-bottom: 10px;
}

.invoice-table-img {
    width: 109px;
    height: 53px;
    top: 571px;
    border-radius: 5px 5px 5px 5px;
    opacity: 1;
}

.table-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.table-Sunnybank {
    height: 17px;
    top: 577px;
    gap: 0px;
    opacity: 1;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 17.05px;
    text-align: left;
}

.table-scroll table thead tr th {
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    line-height: 14.62px;
    text-align: left;
    color: #5A5A5A;
    /* padding: 0px 20px; */
    padding-bottom: 18px;
}

.table-available {
    width: 47px;
    /* height: 12px; */
    gap: 0px;
    opacity: 1;
    font-family: "Fira Sans";
    font-size: 10px;
    background: #90f386;
}

.table-scroll table tbody tr td {
    padding-top: 25px;
    padding-bottom: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollbars {
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.inventory-item-wrapper {
    display: flex;
}

.invoice-table-img {
    margin-right: 10px;
    max-width: 60px;
    height: auto;
}

.table-Sunnybank {
    font-weight: bold;
    padding-top: 10px;
}

.table-wrapper table>:not(caption)>*>* {
    padding: 0;
}

.table-scroll table tbody tr td {
    padding-top: 25px;
    padding-bottom: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}