<div class="bg">
  <h3>Session</h3>
  <div class="col-xs-12 col-md-12 mt-3 fieldset tab-cont-1 active">
    <form [formGroup]="addSessionForm" (ngSubmit)="addSessionSubmit()">
      <div class="elements-block">
        <div class="inner">
          <div class="row field-block Formbg">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="session">Session</label>
                <select
                  id="session"
                  class="form-control"
                  formControlName="session"
                  required
                  [ngClass]="{
                    'border-danger':
                      (submitted ||
                        addSessionForm.controls['session'].dirty ||
                        addSessionForm.controls['session'].touched) &&
                      addSessionForm.hasError('required', 'session')
                  }"
                >
                  <option value="" disabled selected>Choose Session</option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="
                    (submitted ||
                      addSessionForm.controls['session'].dirty ||
                      addSessionForm.controls['session'].touched) &&
                    addSessionForm.hasError('required', 'session')
                  "
                >
                  Session is required
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="term">Term</label>
                <select
                  id="term"
                  class="form-control"
                  formControlName="term"
                  required
                  [ngClass]="{
                    'border-danger':
                      (submitted ||
                        addSessionForm.controls['term'].dirty ||
                        addSessionForm.controls['term'].touched) &&
                      addSessionForm.hasError('required', 'term')
                  }"
                >
                  <option value="" disabled selected>Choose Term</option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="
                    (submitted ||
                      addSessionForm.controls['term'].dirty ||
                      addSessionForm.controls['term'].touched) &&
                    addSessionForm.hasError('required', 'term')
                  "
                >
                  Term is required
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label checkBoxLabel" for="active"
                  >Active</label
                >
                <input type="checkbox" />
              </div>
            </div>

            <div class="col-lg-6 assignSubmitBtn">
              <button
                [disabled]="loading"
                class="btn btn-primary btn-md"
                href="#"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
