.company-details-form-headline {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.17px;
    padding-left: 0.5rem;
}

.basic-details-form {
    padding-top: 53px;
    max-width: 25rem;
    padding-left: 40px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
}

.dialing-codes {
    position: absolute;
    margin-top: 19px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #888;
}

.company-details-form {
    padding-top: 53px;
    padding-left: 40px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Proxima Nova';
}

.company-details-hatimbig {
    border: 0;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Proxima Nova' !important;
    background-color: transparent;
    height: 1.063rem;
    text-align: left;
    padding: 0;
}

.company-details-hatimbig-parent {
    max-width: 100%;
    z-index: 1;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3.8rem;
}

.company-details-form .company-details-hatimbig-parent .company-details-frame-cname {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-form .company-details-hatimbig-parent .company-details-frame-industry {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-form .company-details-hatimbig-parent .company-details-frame-designation {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-frame-country {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-frame-state {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-frame-caddress {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-frame-cnumber {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.company-details-frame-pnumber {
    border-bottom: 1px solid lightgray;
    margin-top: 0.8rem;
}

.country-select {
    border: none;
    outline: none;
    color: #8d8787;
    width: 14.5rem;
    font-family: "Proxima Nova";
}

.company-details-register-btn button {
    padding: 15px 163px;
    height: 56px;
    border-radius: 10px;
    background-color: #014DC0;
    font-weight: 500 !important;
    color: white;
    font-size: 14px;
    margin-bottom: 27px;
    border: none;
    margin-top: 3.4rem;
    font-family: "Proxima Nova" !important;
    line-height: 16.92px;
}

.company-details-register-btn button.disabled {
    background-color: #014DC0;
    cursor: not-allowed;
    opacity: 0.6;
}

.company-details-register-now {
    margin-left: 4px;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 760px) {
    .company-details-form {
        padding-top: 20px !important;
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 760px) {
    .country-select {
        padding-top: 20px !important;
        padding-left: 0 !important;
    }
}