.property_list_navbar_container {
    background: #014DC0;
    height: 60px;
    box-shadow: 0px 2px 7px rgb(78, 78, 78);
    border-radius: 10px;
}

.property_list_input_group {
    /* width: 50%; */
    margin-right: 20px;
}

.property_list_input_group .property_list_search_icon {
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    border-bottom: 1px solid #4D82D3;
    padding-right: 10px;
    /* padding-bottom: 20px; */
    border-radius: 0;
}

.property_list_input_group .property_list_border_bottom_only {
    font-family: "Proxima Nova semi-bold";
    font-size: 14px;
    line-height: 17.05px;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #4D82D3;
    border-radius: 0;
    box-shadow: none;
    color: white;
}

.property_list_navbar_header {
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17.05px;
    text-align: left;
    color: #FFFFFF;
    width: 200px;
}

.property_list_navbar_header_1 {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #FFFFFF;
    width: 70px;
    margin-left: 16px;
}

.property_list_date_start {
    padding: 0px 5px 0px 0px;
    gap: 15px;
    border: 1px 0px 0px 0px;
    /* border-bottom: 1px solid #EEEEEE; */
}

.Property_list_date_end {
    margin-left: 10px;
    /* padding: 22px 15px 15px 15px; */
    gap: 15px;
    border: 1px 0px 0px 0px;
    /* border-bottom: 1px solid #EEEEEE; */
}

.date-text-1 p {
    font-size: 16px;
    color: white;
    margin-bottom: -2px;
}

@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
    .d-flex span {
        margin: 0 10px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
    .d-flex .form-control {
        width: 100px;
    }
    .d-flex span {
        margin: 0 5px;
        font-size: 20px;
    }
}

.property-nav-bar .css-b62m3t-container{
    width: 100%;
}
.property-nav-bar .css-b62m3t-container .css-13cymwt-control{
    margin-right: 0px;
    background: transparent;
    border-bottom: 1px solid #4D82D3 !important;
}
.property-nav-bar .css-b62m3t-container .css-13cymwt-control .css-1dimb5e-singleValue{
    color: #FFFFFF !important;
}
.property-nav-bar .css-b62m3t-container .css-1nmdiq5-menu{
    color: #014dc0;
    width: 250px;
}
.property-nav-bar .input-group.property_list_input_group{
    position: relative;
}
.property-nav-bar .input-group.property_list_input_group .css-hlgwow{
    padding: 0px;
}
.property-nav-bar .input-group.property_list_input_group .edit-icon{
    position: absolute;
    right: 0;
    top: 5px;
}
.property-nav-bar .input-group.property_list_input_group .css-1xc3v61-indicatorContainer{
    padding: 0px;
}