/* proof date container */

.proof_input_group_1 .proof_in_search_icon {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D9D9D9;
    background-color: white;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 0;
}

.proof-play-header {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.34px;
    text-align: left;
    color: #000;
}

.proof_input_group_1 .proof_border_bottom_only {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 0;
    box-shadow: none;
}

.proof-play-header {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.34px;
    text-align: left;
    color: #000;
}

.proof-data-2 {
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #5A5A5A;
}

.custom-border {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 0px;
    margin-top: 7px;
}

.proof-date-end {
    margin-top: 6px;
}

.proof-border-bottom {
    display: block;
    width: 100%;
    border-bottom: 3px solid #D9D9D9;
}

.proof-border-bottom2 {
    display: block;
    width: 100%;
    border-bottom: 3px solid #D9D9D9;
}

.proof-dates {
    display: flex;
    margin-top: -11px;
}

.proof-dates2 {
    display: flex;
    margin-top: -12px;
    cursor: pointer;
}

.proof-date-content {
    display: inline;
    margin-top: 13px;
    margin-left: 5px;
}

.proof_date_img {
    cursor: pointer;
}

.proof-date-picker {
    position: absolute;
    z-index: 10;
}

.proof_date_main_position {
    position: relative;
}

.proof_input_group_1 select {
    border: none;
    margin-left: -11px;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.proof-img-header {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.34px;
    text-align: left;
    color: #5A5A5A;
}

.proof-img-size {
    object-fit: cover;
    width: 220px;
    height: 128px;
    margin: 8px;
    top: 40.27px;
    left: 263px;
    gap: 0px;
    border-radius: 5px;
    opacity: 1;
}

.proof-card-body {
    display: flex;
    margin-left: -5px;
}

.proof-card-title {
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.92px;
    text-align: left;
    color: #232222;
}

.proof-card-data {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    text-align: left;
    color: #5A5A5A;
}

.proof-card-btn {
    font-family: 'proxima-nova', sans-serif;
    background: #014DC0;
    width: 65px;
    height: 39px;
    text-align: right;
    border-radius: 10px;
    margin-top: 2px;
}

.proof-cards {
    width: 265px;
    padding: 15px;
    cursor: pointer;
}

.img-view-button .proof-card-btn {
    text-align: right;
    align-content: flex-end;
    margin-left: 30px;
}


/*  */


/* pop-up */


/* Base Styles */

.proof-popup-back {
    display: block;
    background-color: rgba(133, 130, 130, 0.6);
    /* Black background with 0.6 opacity */
}

.proof-popup-con {
    /* width: 1011px; */
    /* height: 589px; */
    border-radius: 10px;
    /* right: 16rem; */
}

.proof-popup-con2 {
    width: 100%;
    height: auto;
    padding: 0px;
    gap: 30px;
    border-radius: 15px;
    background: #FFFFFF;
}

.modal-img {
    width: 971px;
    height: 522px;
    gap: 0px;
    border-radius: 5px;
    opacity: 1;
}

.thumbnail-img {
    width: 220px;
    height: 128px;
    gap: 0px;
    border-radius: 10px;
    margin: 20px;
}

.thumbnails-container-wrapper {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.thumbnails-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.proof-card-body {
    text-align: center;
}

.proof-card-title {
    margin-bottom: 0;
}

.btn-close1 {
    position: absolute;
    top: 5px;
    right: -29px;
    background: #232222;
    filter: invert(80%);
    border-radius: 5px;
}

.proof-popup-content {
    display: flex;
    margin-top: 7px;
}

.proof-popup-content1 {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #232222;
}

.proof-popup-content2 {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #5A5A5A;
    margin-left: 10px;
    margin-top: 2px;
}

.arrow-icon-left,
.arrow-icon-right {
    position: absolute;
    /* bottom: 10px; */
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    width: 36px;
    height: 36px;
    background: #767676;
    /* padding: 5px; */
    border-radius: 5px;
}

.arrow-icon-left {
    left: -25px;
    top: 42rem;
}

.arrow-icon-right {
    right: -25px;
    top: 42rem;
}

.Campaign-Inventory {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Uploaded-Inventory {
    white-space: nowrap;
    padding-top: 10px;
    text-overflow: ellipsis;
}


/*  */


/* scroll bar */

.proof-card-scroll {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.proof-card-scroll::-webkit-scrollbar {
    width: 5px;
}

.proof-card-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid #014DC0;
}

.proof-card-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

@media (max-width: 320px) {
    .proof-card-scroll {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .proof-popup-con {
        width: 100%;
        height: auto;
        right: 0;
    }
    .modal-img {
        width: 100%;
        height: 207px;
        border-radius: 5px;
    }
    .thumbnail-img {
        top: 0%;
        width: 100px;
        height: auto;
    }
    .btn-close1 {
        top: 20px;
        right: 10px;
    }
    .arrow-icon-left,
    .arrow-icon-right {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
    .arrow-icon-left {
        left: -10px;
        top: 22rem;
    }
    .arrow-icon-right {
        right: -10px;
        top: 22rem;
    }
    .proof-popup-content {
        flex-direction: column;
        text-align: center;
    }
    .proof-popup-content1,
    .proof-popup-content2 {
        margin: 0;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .proof-popup-con {
        width: 90%;
        height: auto;
        right: 0;
    }
    .modal-img {
        width: 100%;
        height: auto;
    }
    .thumbnail-img {
        width: 150px;
    }
    .arrow-icon-left,
    .arrow-icon-right {
        font-size: 20px;
        width: 32px;
        height: 32px;
    }
    .arrow-icon-left {
        left: -15px;
        top: 40rem;
    }
    .arrow-icon-right {
        right: -15px;
        top: 40rem;
    }
    .btn-close1 {
        top: 115px;
        right: 105px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .proof-popup-con {
        width: 100%;
        height: 350px;
    }
    .modal-img {
        width: 95%;
        height: 274px;
    }
    .thumbnail-img {
        width: 180px;
    }
    .arrow-icon-left,
    .arrow-icon-right {
        font-size: 22px;
        width: 36px;
        height: 36px;
    }
    .thumbnails-container-wrapper {
        top: 1rem;
    }
    .btn-close1 {
        top: 2px;
        right: -29px;
    }
    .arrow-icon-left {
        left: -23px;
        top: 27rem;
    }
    .arrow-icon-right {
        right: -24px;
        top: 27rem;
    }
}

@media (min-width: 1200px) {
    .proof-popup-con {
        width: 1011px;
        height: 589px;
        right: 16rem;
    }
    .modal-img {
        width: 971px;
        height: 522px;
    }
    .thumbnail-img {
        width: 220px;
        height: 128px;
    }
    .arrow-icon-left,
    .arrow-icon-right {
        font-size: 24px;
        width: 36px;
        height: 36px;
    }
    .arrow-icon-left {
        left: -25px;
        top: 42rem;
    }
    .arrow-icon-right {
        right: -25px;
        top: 42rem;
    }
}

.arrow-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.arrow-icon-left,
.arrow-icon-right {
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 12px;
}

.arrow-icon-left:hover,
.arrow-icon-right:hover {
    transform: scale(1.2);
}


/* .card_date_starts {
    padding: 22px 15px 15px 15px;
    gap: 15px;
    border: 1px 0px 0px 0px;
    margin-left: -25px;
    border-bottom: 1px solid #EEEEEE;
} */


/*  */