.studentSearchClearBtn{
    margin-left: 5px;
}
li.page-item.disabled{
    display: none;
  }
.paginationStyle{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 10px;
}
.page-item.active .page-link{
    background-color: #4B93E4 !important;
}